* {
    margin:0;
    padding:0;
    box-sizing:border-box
}
html,
body {
    min-height: 100vh;
    width: 100%;
    background-color: #fbf4ec;
}
main{
    height: 100vh;
}
section{
    height: 100vh;
    padding: 5px 35px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #fbf4ec;
}
#sunmall{
    height: 90px;
    position: relative;
    right: 40px;
}
#card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;  
}
#home{
    color: #62977a;
}
h3{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
}
#separator{
    color: #62977a;
    font-size: 40px;
    font-weight: 400;
    position: relative;
    bottom: 48px;
    left: 509px;

}
#searchbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    height: 40px;
    padding: 20px 15px;
    border-radius: 40px;

}
#four{
    background-color: #d92432;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 25px;
    left: 20px;
    border-radius: 40%;
    text-align: center;
    color: white;
}
#shop{
    font-size: 20px;
    position: relative;
    top: 10px;
}
input{
    border: none;
    outline: none;
    background-color: #fbf4ec;
}
#search{
    color: orange;
}
#left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#h4{
    border: 1px solid #376738;
    background-color: #e8ebd7;
    color: #376738;
    border-radius: 20px;
    padding: 5px 12px;
    width: 250px;
    text-align: center;
}
h1{
    font-size: 60px;
    font-family: sans-serif;
}
#gri{
    color: #2f6727;
}
#sign{
    height: 200px;
    width: 570px;
    position: absolute;
    bottom: 300px;
    right: 1080px;  
    
}
#satis{
    position: absolute;
    bottom: 338px;
    color: grey;
    font-size: 18px;
}
#button{
    display: flex;
    align-items: center;
    gap: 80px;
    position: absolute;
    bottom: 275px;
}
#add{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
    border-radius: 30px;
    color: white;
    background-color: black;
    
}
#too{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbca6a;
    border-radius: 50%;
    color: black;
}
#to{
    font-size: 20px;
}
#two{
    padding: 8px 15px;
    border-radius: 30px;
    word-spacing: 10px;
    border: 1px solid lightgray;
    background-color: white;
}
#sub{
    font-size: 20px;
    color: black;
}
#oneline{
    font-size: 20px;
    color: lightgray;
}
#twoo{
    font-size: 20px;
    color: red;
}
#twoline{
    font-size: 20px;
    color: lightgray;
}
#plus{
    font-size: 20px;
    color: #2f6727;
}
#thrre{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 66%;
}
#one{
    display: flex;
    gap: 8px;
    line-height: 15px;
}
#sam{
    font-size: 11px;
    font-family: sans-serif;
}
#no{
    font-size: 10px;
    font-family: sans-serif;
    color: gray;
}
#leaf{
    height: 30px;
    width: 30px;
    border: 1px solid #225d21;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #225d21;
}
#fire{
    height: 30px;
    width: 30px;
    border: 1px solid #f59a1c;
    border-radius: 50%;
    color: #f59a1c;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#heart{
    height: 30px;
    width: 30px;
    border: 1px solid #d92834;
    border-radius: 50%;
    color: #d92834;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttom{
    height: 190px;
    width: 98%;
    border-radius: 30PX;
    background-color: #1e6344;
    margin-top: 210px;
    
}
#our{
    position: absolute;
    top: 570px;
    left: 90px;
}
#top{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}
#yellow{
    color: #f59a1c;
    font-size: 50px;
    font-weight: 400;
    position: relative;
    bottom: 15px;
}
#arrow{
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}
#arrowleft{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: lightgray;
    color: lightslategray;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#arrowright{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    color: #1e6344;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mr{
    display: flex;
    gap: 60px;
    position: absolute;
    top: 565px;
    left: 400px;
    
    
}
#first{
    position: absolute;
    height: 210px;
    left: 260px;
    top: 525px;
    
}
#second{
    position: absolute;
    height: 180px;
    left: 669px;
    top: 542px;
}
#third{
    position: absolute;
    height: 205px;
    left: 890px;
    top: 528px;
}
#black{
    height: 140px;
    width: 255px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    border-radius: 20px;
    
}
#mrs{
    line-height: 30px;
    font-size: 13px;
    font-family: sans-serif;
    position: absolute;
    left: 50%;
}
button{
    padding: 5px 10px; 
    border-radius: 20px;
    border: none;
    background-color: #d72533;
    color: white;
}
#star{
    color: #f59a1c;
}
#five{
    color:black;
}
#light{
    position: absolute;
    top: 150px;
    left: 650px;
    height: 370px;
    width: 370px;
    background-color: #d3d5b6;
    border-radius: 50%;
}
#re{
    transform: rotate(-5deg);
    position: absolute;
    height: 530px;
    right: -100px;
    top: -100px;
}
#crispyone{
    height: 150px;
    position: absolute;
    left: 550px;
    top: 300px;
}
#arr{
    height: 100px;
    position: absolute;
    top: 90px;
    left: 1000px;
}
#right{
    position: absolute;
    left: 78%;
    top: 200px;
}
#male{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1a653d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d92432;
    font-size: 20px;
}
#extra{
    display: flex;
    gap: 15px;
}
#chil{
    font-family: sans-serif;
    font-size: 15px;
}
#zha{
    font-family: sans-serif;
    font-size: 12px;
    color: gray;
}
#malee{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #d72533;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d92432;
    font-size: 20px;
}
#extraa{
    display: flex;
    gap: 15px;
}
#chill{
    font-family: sans-serif;
    font-size: 15px;
}
#zhaa{
    font-family: sans-serif;
    font-size: 12px;
    color: gray;
}
#maleee{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f59a1c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d92432;
    font-size: 20px;
}
#extraaa{
    display: flex;
    gap: 15px;
}
#chilll{
    font-family: sans-serif;
    font-size: 15px;
}
#zhaaa{
    font-family: sans-serif;
    font-size: 12px;
    color: gray;
}
#right2{
    position: absolute;
    left: 78%;
    top: 280px;
}
#right3{
    position: absolute;
    left: 78%;
    top: 360px;
}
#dot{
    line-height: 10px;
    font-size: 15px;
    position: absolute;
    top: 235px;
    left: 79.2%;
    color: #d72533;
}
#dot2{
    line-height: 10px;
    font-size: 15px;
    position: absolute;
    top: 315px;
    left: 79.2%;
    color: #d72533;
}
